$blackColor: rgb(24, 24, 24);
$whiteColor: rgb(232,232,232);
$redColor: rgb(185, 44, 44);

@mixin buttonStyle ($backgroundColor, $fontSize) {
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: $backgroundColor;
    font-size: $fontSize;
    color: $whiteColor;
}