@import '../Variables/Variables.scss';

.hover-button {
    font-size: 14px;
    background-color: $redColor;
    
    transition: {
      property: background-color;
      duration: 4s;
    }

    transition: {
        property: font-size;
        duration: 4s;
    }
  
    &:hover { 
        background-color: $whiteColor;
        font-size: 30px;
    }
}