@import '../../Styles/Variables.scss';

.card {
    min-height: 20px;
    background-color: $tertiaryColor;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        color: $primaryColor;
        padding: 0px;
        
        margin: {
            bottom: 30px;
            top: 0px;
            left: 0px;
            right: 0px;
        }
    }

    p {
        color: $secondaryColor;
        padding: 0px;
        margin: 0px;
    }
}